.button {
	background-color: lightgray;
	color: black;
	border: 1px solid gray;
	border-radius: 4px;
	padding: 10px;
	display: inline-block;
	cursor: pointer;
}

#templates{
	display: none;
}

#resultaten .klant{ height: 30px;}

#resultaten .klant div{
	float: left;
	padding: 5px;
}