.button {
	background-color: lightgray;
	color: black;
	border: 1px solid gray;
	border-radius: 4px;
	padding: 10px;
	display: inline-block;
	cursor: pointer;
}

#templates {
	display: none;
}

.opdracht {
	position: relative;

	margin: 5px;
	padding: 5px;
	border: 1px solid red;
	border-radius: 5px;
}

.opdracht .delete {
	position: absolute;

	right: 10px;
	top: 10px;

	width: 20px;
	height: 20px;
	border-radius: 10px;
	border: 1xp solid black;
	background-color: gray;
	color: white;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	cursor: pointer;
}