<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Floating CV</title>
	<meta charset="utf-8" />
	<link href="floatingcv.css" rel="stylesheet" />
	<script src="jquery-1.11.3.js"></script>
	<script src="floatingcv.js"></script>
</head>
<body>
	<!-- html - templates -->

	<!-- html - modals -->

	<header>
		<h1>Magnifi CV</h1>
	</header>
	<section id="assignments">
		<div id="addassignment">+</div>
	</section>

	<footer>
		<div class="button local">Local Storage</div>
		<div class="button memory">Memory</div>
		<div class="button rest">Rest API</div>
	</footer>
</body>
</html>
