html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: lightblue;
 }

 body { 
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

header{
    margin: 0;
    padding: 10px;
    text-align:  center;
    background-color: black;
    color: white;
}

section {
    padding: 10px;
    margin: 10px;
    background-color: rgb(100,52,235);
    min-height: 200px;
    border: 2px solid rgb(50, 26, 120);
    box-shadow: 3px 3px 2px rgba(0,0,0,0.6);
}

#templates {
    display: none;
}

#invoer{
    min-height: 20px;
    margin: 0 0 5px 0;
    box-shadow: 0 0 0 rgba(0,0,0,0.6);
}

input#opmerking {
    width: 80%;
    padding: 3px 3px 3px 15px;
    
    font-size: 18px;
    border: 2px solid rgb(50, 26, 120);
    border-radius: 10px;
}

#vastleggen {
    padding: 5px;
    background-color: darkslategray;
    color: lightgray;
    font-size: 18px;
    border: 1px dashed #1f1f1f;
    border-radius: 5px;
    box-shadow: 3px 3px 2px rgba(0,0,0,0.6);
}

#overzicht .opmerking {
    font-weight: bold;
    font-size: 24px;
    color: #1f1f1f;
}